/*GLOBALS*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@font-face {
  font-family: 'press-start-2p';
  src: url("./game/assets/font/Press_Start_2P/PressStart2P-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Pixelify-Sans';
  src: url("./game/assets/font/Pixelify_Sans/static/PixelifySans-Bold.ttf") format("truetype");
}
:root {
  font-family: 'press-start-2p';
}
* {
  box-sizing: border-box;
}
html{
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
} 
body{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}


#fps{
  position: absolute;
  top: 5%;
  left: 5%;
}
/*Stylings*/
#retro-window {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  visibility: hidden;
  width: 55vw;
  height: 77vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    180deg,
    rgba(0, 85, 146, 0.34) 0%,
    rgba(7, 0, 10, 0.34) 100%
  );
  background-image: url(./game/assets/html/img/retro-window/gradient.png);
  background-size: cover;
}

#retro-window-content{
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Pixelify-Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.text-content{
  display: flex;
}
.text-content .title {
  position: absolute;
  -webkit-text-stroke: 1.4vh black;
  paint-order: stroke fill;
  /* font-size: 2rem; */
  font-size: 5.5vh;
  text-align: center;
  /* letter-spacing: -2px; */
  line-height: normal;
  top: calc((29 / 347) * 77vh);
  left: calc((28 / 524) * 55vw);
}
.text-content .content{
  position: absolute;
  font-size: 2.5vh;
  text-align: left;
  line-height: normal;
  top: calc((63 / 347) * 77vh);
  left: calc((13 / 524) * 55vw);
  display: flex;
  flex-direction: column;
  width: calc((231 / 524) * 55vw);
}

.previewer-subtitle{
  position: absolute;
  z-index: 1;
  -webkit-text-stroke: 1.4vh black;
  paint-order: stroke fill;
  font-size: 6.14vh;
  text-align: center;
  line-height: normal;
  top: calc((208 / 347) * 77vh);
  left: calc((274 / 524) * 55vw);
}

.previewer {
  width: calc((161 / 524) * 55vw);
  height: calc((171 / 347) * 77vh);
  background-color: #59a73c6b;
  box-shadow: -22px 6px 0px #f3f77940, -22px 9px 0px #f3f77940, 0px 4px 0px
    #296d106b;
  position: absolute;
  top: calc((25 / 347) * 77vh);
  left: calc((306 / 524) * 55vw);
  z-index: 2;
}
.retro-window-controls .arrow{
  width: calc((82 / 524) * 55vw);
  height: calc((82 / 347) * 77vh);
  background-image: url(./game/assets/html/img/retro-window/arrow.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 69%;
}
.retro-window-controls .triple-arrow{
  width: calc((((82 / 524) * 55vw) * 3) + ((48 / 524) * 55vw));
  height: calc((82 / 347) * 77vh);
  position: absolute;
  top: calc((236 / 347) * 77vh);
  left: calc((298 / 524) * 55vw);
  display: flex;
  flex-direction: row;
}
.retro-window-controls .triple-arrow .f{
  
}
.retro-window-controls .triple-arrow .s{
  
}
.retro-window-controls .triple-arrow .t{
  
}
.retro-window-corners{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
}
.retro-window-corners img{
  width: 100%;
  height: 100%;
}
