/*GLOBALS*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@font-face {
  font-family: 'press-start-2p';
  src: url("./game/assets/font/Press_Start_2P/PressStart2P-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Pixelify-Sans';
  src: url("./game/assets/font/Pixelify_Sans/static/PixelifySans-Bold.ttf") format("truetype");
}
@media (orientation: portrait){
  :root{
    --container-width: 90vw;
    --container-height: 30vh;
  }
  .contingency-plan-for-portrait{
    display: flex;
    background-color: black;
    position: absolute;
    width: 100vw;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'press-start-2p';
    font-size: 24px;
    color: white;
  }
}
@media (orientation: landscape){
  :root{
    --container-width: 55vw;
    --container-height: 77vh;
  }
  .contingency-plan-for-portrait{
    display: none;
  }
}
:root {
  font-family: 'press-start-2p';
}
* {
  box-sizing: border-box;
}
html{
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
} 
body{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}


#fps{
  position: absolute;
  top: 5%;
  left: 5%;
}


/*Stylings*/
ul {
  list-style: none;
  padding: 0;
}

ul li {
  position: relative;
  padding-left: 1.5em;
}

ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
  width: 0.3em;
  height: 0.3em;
  background-color: white;
  border-radius: 50%;
  border: 1px solid white;
}


#retro-window {
  position: absolute;
  display: none;
  flex-direction: row;
  justify-content: center;
  width: var(--container-width);
  height: var(--container-height);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    180deg,
    rgba(0, 85, 146, 0.34) 0%,
    rgba(7, 0, 10, 0.34) 100%
  );
  background-image: url(./game/assets/html/img/retro-window/gradient.png);
  background-size: cover;
}

#retro-window-content{
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Pixelify-Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.text-content{
  display: flex;
}
.text-content.final{
  display: flex;
  width: 100%;
}
.text-content .title {
  position: absolute;
  -webkit-text-stroke: 1.4vh black;
  paint-order: stroke fill;
  font-size: 5.5vh;
  text-align: center;
  line-height: normal;
  top: calc((29 / 347) * var(--container-height));
  left: calc((28 / 524) * var(--container-width));
}
.text-content .final-text{
  position: absolute;
  -webkit-text-stroke: 1.1vh black;
  paint-order: stroke fill;
  font-size: 3.5vh;
  text-align: left;
  line-height: normal;
  top: calc((29 / 347) * var(--container-height));
  left: calc((28 / 524) * var(--container-width));
}
.text-content .final-caption{
  position: absolute;
  paint-order: stroke fill;
  font-size: 5vh;
  text-align: left;
  line-height: normal;
  top: calc((120 / 347) * var(--container-height));
  left: calc((28 / 524) * var(--container-width));
}

.text-content .content{
  position: absolute;
  font-size: 2.5vh;
  text-align: left;
  line-height: normal;
  top: calc((63 / 347) * var(--container-height));
  left: calc((13 / 524) * var(--container-width));
  display: flex;
  flex-direction: column;
  width: calc((231 / 524) * var(--container-width));
}

.previewer-subtitle{
  z-index: 1;
  -webkit-text-stroke: 1.4vh black;
  paint-order: stroke fill;
  font-size: 6.14vh;
  text-align: center;
  line-height: normal;
}

.previewer {
  width: calc((300 / 524) * var(--container-width));
  height: auto;
  position: absolute;
  top: calc((25 / 347) * var(--container-height));
  left: calc((240 / 524) * var(--container-width));
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  row-gap: calc((10 / 347) * var(--container-height));
}
.visor {
  width: calc((161 / 524) * var(--container-width));
  height: calc((171 / 347) * var(--container-height));
  background-color: #59a73c6b;
  box-shadow: -22px 6px 0px #f3f77940, -22px 9px 0px #f3f77940, 0px 4px 0px
    #296d106b;
}
.previewer.projects {
  top: calc((65 / 347) * var(--container-height));
}
.previewer.projects .visor{
  width: calc((210 / 524) * var(--container-width));
  height: calc((131 / 347) * var(--container-height));
}
.visor img{
  width: 100%;
  height: 100%;
}
.visor #photo-visor img {
  width: 80%;
  height: 90%;
  margin-left: 10%;
  filter: brightness(0.5) hue-rotate(60deg) saturate(1);
}
.retro-window-controls .arrow{
  width: calc((82 / 524) * var(--container-width));
  height: calc((82 / 347) * var(--container-height));
  background-image: url(./game/assets/html/img/retro-window/arrow.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 69%;
  cursor: pointer;
}
.retro-window-controls .triple-arrow{
  width: calc((((82 / 524) * var(--container-width)) * 3) + ((48 / 524) * var(--container-width)));
  height: calc((82 / 347) * var(--container-height));
  position: absolute;
  top: calc((236 / 347) * var(--container-height));
  left: calc((305 / 524) * var(--container-width));
  display: flex;
  flex-direction: row;
}
.retro-window-controls .triple-arrow#triple-arrow-final{
  left: calc((-100 / 524) * var(--container-width));
  transform: rotateZ(180deg);
}

.retro-window-controls .triple-arrow:hover{
  cursor: pointer;
}
.retro-window-controls .triple-arrow .f{
  left: 0;
  animation: arrow-bounce 2s ease-in-out 200ms infinite alternate-reverse none;
}
.retro-window-controls .triple-arrow .s{
  left: 15%;
  animation: arrow-bounce 2s ease-in-out 400ms infinite alternate-reverse none;
}
.retro-window-controls .triple-arrow .t{
  left: 30%;
  animation: arrow-bounce 2s ease-in-out 600ms infinite alternate-reverse none;
}
.retro-window-controls #double-arrow{
  width: calc((((82 / 524) * var(--container-width)) * 2));
  height: calc((82 / 347) * var(--container-height));
  position: absolute;
  top: calc((236 / 347) * var(--container-height));
  left: calc((280 / 524) * var(--container-width));
  display: flex;
  flex-direction: row;
}
.retro-window-controls #double-arrow #next{
  left: 80%;
  animation: arrow-bounce 2s ease-in-out 400ms infinite alternate-reverse none;
}
.retro-window-controls #double-arrow #past{
  transform: rotateZ(180deg);
  animation: arrow-bounce-flipped 2s ease-in-out 400ms infinite alternate-reverse none;
}


.retro-window-corners{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
}
.retro-window-corners img{
  width: 100%;
  height: 100%;
}
@keyframes arrow-bounce {
  from{
    transform: translateX(0);
  }to{
    transform: translate(-10%);
  }
}
@keyframes arrow-bounce-flipped {
  from{
    transform: translateX(0) rotateZ(180deg);
  }to{
    transform: translate(10%) rotateZ(180deg);
  }
}