/*GLOBALS*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@font-face {
  font-family: 'press-start-2p';
  src: url('/game/assets/font/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Pixelify-Sans-Bold';
  src: url('/game/assets/font/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf') format('truetype');
}
:root {
  font-family: 'press-start-2p';
}
* {
  box-sizing: border-box;
}
html{
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
} 
body{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}


#fps{
  position: absolute;
  top: 5%;
  left: 5%;
}
/*Stylings*/
#retro-window {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  visibility: hidden;
  width: 55vw;
  height: 77vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    180deg,
    rgba(0, 85, 146, 0.34) 0%,
    rgba(7, 0, 10, 0.34) 100%
  );
  background-image: url(./game/assets/html/img/retro-window/gradient.png);
  background-size: cover;
  background-position: 50% -20%;
}

#retro-window-content{
  width: 100%;
  height: 100%;
}
.text-content{
  display: flex;
}
.text-content .title{
  color: white;
  position: absolute;
  -webkit-text-stroke: 2px #000000;
  font-family: "Pixelify-Sans-Bold", Helvetica;
  color: #ffffff;
  font-size: 60px;
  text-align: center;
  letter-spacing: 1.80px;
  line-height: normal;
  top: 5%;
  left: 3%;
}


.retro-window-corners{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
}
.retro-window-corners img{
  width: 100%;
  height: 100%;
}